---
const { variant = "primary", size = "medium" } = Astro.props;

// Generel styling for alle knapper
const buttonStyling = "border-2 px-16 py-4 font-sans"; // font-sans = Poppins

// Styling for varianter
const variantClasses = {
  "primary": "border-black hover:bg-black hover:text-white hover:-skew-x-12 transition-all duration-700",
  "secondary": "border-blue-500 hover:bg-blue-500 hover:border-blue-200"
};

// Styling for størrelser
const sizeClasses = {
  "large": "text-4xl",
  "medium": "text-xl",
  "small": "text-lg"
};
---
<button class:list={[buttonStyling, variantClasses[variant], sizeClasses[size]]}>
  <slot />
</button>
