---
const { text = "", href = "#", isActive = false } = Astro.props;
---
<a href={href} class={`group inline-flex items-center space-x-2 text-black hover:text-gray-500 transition-colors duration-300 relative ${isActive ? "italic font-bold" : "italic"}`}>
  <span class="relative">
    {text}
    <span class="absolute left-0 bottom-0 h-0.25 w-0 bg-black group-hover:w-full transition-[width] duration-500"></span>
  </span>
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 transition-transform duration-500 group-hover:rotate-90">
    <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
  </svg>
</a>
