---
const { href = "#", target = "_self", variant = "textlink", size = "default" } = Astro.props;

// Generel styling for alle links
const linkStyling = "font-sans"; // Poppins

// Styling for varianter
const variantClasses = {
  "textlink": "underline text-blue-500", /* text-primary-500 */
  "primary": "inline-block border-2 px-16 py-4 border-black", /* border-primary-500 */
  "secondary": "inline-block border-2 px-16 py-4 border-blue-500" /* border-secondary-500 */
};

// Styling for størrelser
const sizeClasses = {
  "default": "text-default",
  "large": "text-4xl",
  "medium": "text-xl",
  "small": "text-lg"  // rettet fra "text-large" til gyldig Tailwind-klasse
};
---
<a href={href} target={target} class:list={[linkStyling, variantClasses[variant], sizeClasses[size]]}>
  <slot />
</a>
